.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #161616;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.header__logo {
  width: 86px;
}

.header__toggle {
  height: inherit;
  margin-left: auto;
  display: flex;
  cursor: pointer;
  transition: background-color .2s ease-in-out;

  &::before {
    width: 24px;
    height: 3px;
    margin: auto;
    background-color: $body-color;
    box-shadow: 0 -8px 0 $body-color, 0 8px 0 $body-color;
    content: '';
  }

  &:hover {
    background-color: #222;
  }
}

@media (min-width: 992px) {
  .header {
    padding-left: 32px;
  }
  .header__toggle {
    width: 88px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1281px) {
  .header {
    display: none;
  }
}

@media (max-width: 991px) {
  .header {
    padding-left: 16px;
  }
  .header__toggle {
    width: 56px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
