.main {
  height: inherit;
  position: relative;
  z-index: 1;
  display: flex;

  &::after {
    content: '';
    pointer-events: none;
    //bottom: 0;
    position: relative;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
  }

  &::before {
    content: '';
    pointer-events: none;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: -2;
    background: url(#{$path}bg/main.png) no-repeat right center;
    background-size: cover;
  }

  &__name {
    letter-spacing: .05em;
    color: #888;
    text-transform: uppercase;
  }

  @include media('>=767px') {
    &::after {
      background-image: url(#{$path}decor/main-photo.png);
    }
  }

  @include media('>=1741px') {
    &__name {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 32px;
    }
  }

  @include media('>=2100px') {
    &::after {
      width: 58vw;
      right: -27vw;
    }
  }

  @include media('>=1281px') {
    justify-content: center;

    &::after {
      height: inherit;
    }

    &__name {
      margin-top: -82px;
    }
  }

  @include media('<=991px') {
    flex-direction: column;
  }
  @include media('<=767px') {
    padding-top: get-vw(118px, 768);

    &::after {
      //left: 56%;
      //height: 386px;
      //bottom: get-vw(-80px, 360);
      flex: auto;
      margin-top: -32px;
      margin-right: -18vw;
      width: calc(100% + 32px);
      background-image: url(#{$path}decor/main-photo-m.png);
    }

    &__name {
      margin-bottom: get-vw(8px, 767);
      font-size: get-vw(16px, 768);
      line-height: get-vw(24px, 768);
    }
  }
  @include media('<=575px') {
    padding-top: get-vw(118px, 360);

    &__name {
      margin-bottom: get-vw(8px, 360);
      font-size: get-vw(16px, 360);
      line-height: get-vw(24px, 360);
    }
  }

  @include media('>=992px', '<=1280px') {
    padding-top: get-vw(150px, 992);

    &::after {
      width: 66vw;
      height: calc(100% - 35px);
      right: -68px;
    }

    &__name {
      margin-top: 32px;
      margin-bottom: get-vw(24px, 992);
      font-size: get-vw(20px, 992);
      line-height: get-vw(32px, 992);
    }
  }

  @include media('>=768px', '<=991px') {
     padding-top: get-vw(170px, 768);

    &::after {
      flex: auto;
      margin-top: -80px;
      width: calc(100% + 32px);
    }

    &__name {
      margin-bottom: get-vw(24px, 768);
      font-size: get-vw(20px, 768);
      line-height: get-vw(32px, 768);
    }
  }

  /*  @include media('<=340px') {
      &::after {
        width: 370px;
      }
    }*/

  @media (min-width: 1281px) and (max-width: 1740px) {
    &::after {
      width: 53vw;
      right: 0;
    }
  }

  @media (min-width: 1741px) and (max-width: 2099px) {
    &::after {
      width: 53vw;
      right: -12vw;
    }
  }

  /*
  @media (max-width: 575px) and (min-height: 730px) and (orientation: portrait) {
    &::after {
      bottom: 0;
    }
  }

  @media (max-width: 767px) and (orientation: portrait) and (min-height: 768px) {
    &::after {
      margin-top: -80px;
    }
  }
  */

  @include media('<=940px', 'landscape') {
    padding-top: get-vw(110px, 992);

    &::after {
      margin-top: auto;
      width: 63vw;
      height: calc(100% - 40px);
      left: 43%;
      position: fixed;
    }

    &__content {
      margin-top: auto;
      margin-bottom: auto;
    }
    &__name {
      margin-top: 0;
      margin-bottom: get-vw(24px, 992);
      font-size: get-vw(20px, 992);
      line-height: get-vw(32px, 992);
    }
  }

/*  !* iphone X , XS, 11 Pro, 12 Mini *!
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    &::after {
      width: 131%;
    }
  }

  !* iphone XR, 11 *!
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    &::after {
      width: 131%;
    }
  }*/
}

.main__title {
  font-weight: 800;

  @include media('>=1741px') {
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 20px;
  }

  @include media('>=767px', '<=1280px') {
    margin-bottom: get-vw(16px, 992);
    font-size: get-vw(48px, 992);
    line-height: get-vw(56px, 992);
  }
  @include media('>=575px', '<=767px') {
    margin-bottom: get-vw(18px, 768);
    font-size: get-vw(48px, 768);
    line-height: get-vw(56px, 768);
  }
  @include media('<=575px') {
    margin-bottom: get-vw(8px, 360);
    font-size: get-vw(24px, 360);
    line-height: get-vw(32px, 360);
  }

  @include media('<=940px', 'landscape') {
    margin-bottom: get-vw(16px, 992);
    font-size: get-vw(48px, 992);
    line-height: get-vw(56px, 992);
  }
}

.main__subtitle {
  font-weight: 500;

  @include media('>=1741px') {
    margin-bottom: 42px;
    line-height: 28px;
  }

  @include media('<=1280px') {
    margin-bottom: get-vw(40px, 992);
    font-size: get-vw(16px, 992);
    line-height: get-vw(28px, 992);
  }

  @include media('<=767px') {
    margin-bottom: get-vw(40px, 768);
    font-size: get-vw(16px, 768);
    line-height: get-vw(28px, 768);
  }
  @include media('<=575px') {
    padding-right: 12px;
    margin-bottom: get-vw(32px, 360);
    font-size: get-vw(14px, 360);
    line-height: get-vw(24px, 360);
  }
  @include media('>=768px', '<=1280px') {
    max-width: 50%;
  }
  @include media('>=576px', '<=767px') {
    width: 65%;
  }
  @include media('<=940px', 'landscape') {
    margin-bottom: get-vw(40px, 992);
    font-size: get-vw(16px, 992);
    line-height: get-vw(28px, 992);
  }
}

@media (max-width: 1740px) {
  /*  .main__name {
      margin-bottom: 1.15vw;
      font-size: 1.15vw;
      line-height: 1.9vw;
    }
    .main__title {
      margin-bottom: 1.15vw;
      line-height: 4.138vw;
      font-size: 3.68vw;
    }
    .main__subtitle {
      margin-bottom: 2.5vw;
      line-height: 1.65vw;
      font-size: 0.92vw;
    }*/
}


.main__btn {
  @include media('<=940px', 'landscape') {
    display: none;
  }
}

/* OLD STYLES */


/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
}

/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
}

/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
}

/* iphone 12 Pro Max */
@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
}

/*

!*IPhone x adapter*!
@media (-webkit-device-pixel-ratio: 3) {
  .main::before {
    bottom: 37px;
  }
}

!*IPhone XS Max adapter*!
@media (-webkit-device-pixel-ratio: 3) {
  .main::before {
    bottom: 37px;
  }
}

!*IPhone XR Max adapter*!
@media (-webkit-device-pixel-ratio: 2) {
  .main::before {
    bottom: 37px;
  }
}
*/
